<div>
	<header id="home">
		<nav>
			<section class="hero" id="hero">
				<div class="container">
					<div class="row">
						<div class="container-fluid">
							<div class="row">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> </button>
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										<li> <a href="#/reports">Reports</a> </li>
										<li> <a href="#/">Help</a> </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center col-lg-offset-2 col-lg-8">
							<h1 class="animated fadeInDown"><a ui-sref="home" href="#/"><img src="images/logo.png" alt="FPDS" /></a></h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center col-lg-offset-2 col-lg-8">
							<div class="input-group autocomplete">
								<input type="text" ng-model="query" class="form-control" typeahead="type for type in cities($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-on-select='onSelect($item, $model, $label)' name="x" placeholder="Search term..." ng-enter = "search()" >
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</nav>
	</header>

	<section class="dark-bg text-center section-padding contact-wrap landing" id="contact">
		<div class="container">
			<br/>
			<br/>
			<div class="row contact-details">
				<div class="col-md-4 contact-box">
					<div class="light-box box-hover lt-box">
						<h2><em class="glyphicon glyphicon-search"></em><span>Search for Contracts</span></h2><br/>
						<p>Search for Contracts Awarded across all of the Federal Government Institutions.</p>
					</div>
				</div>
				<div class="col-md-4 contact-box">
					<div class="light-box box-hover lt-box">
						<h2><i class="glyphicon glyphicon-eye-open"></i><span> View the Dashboard</span></h2><br/>
						<p>Take a look at Government Contract metrics, Socio-Economic considerations, and obligations.</p>
					</div>
				</div>
				<div class="col-md-4 contact-box">
					<div class="light-box box-hover lt-box">
						<h2><i class="glyphicon glyphicon glyphicon-list"></i><span>Explore the Details</span></h2><br/>
						<p>Access details of every contract within the Federal Government.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>	

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="legals">
					<li><a href="#">Created by - <img src="images/olabs_logo_sm.png" alt="Olabs"></a></li>
				</ul>
			</div>
			<div class="col-md-6 credit">
				<p>Copyright &copy; OLabs - Octo Consulting Group 2016. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>

