<div class = "bodyview">
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
		<div class="container topnav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand topnav" href="#/"><img src="images/logo.png" alt="FPDS" /></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li> <a href="#/reports">Reports</a> </li>
					<li> <a href="#/help">Help</a> </li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<h2>View IDV Details Page</h2>
<h3>{{ test }}</h3>

<footer>
	<div class="footer1">
		<div>
			<p class="left">Created by <br>
			<img src="images/olabs_logo_sm.png" alt="Olabs">
			<span class="copyright text-muted small" style = "text-align: right">Copyright &copy; OLabs - Octo Consulting Group 2016. All Rights Reserved</span> </p>
		</div>
	</div>
</footer>