<header id="home">
	<nav>
		<section class="hero" id="hero">
			<div class="container">
				<div >
					<div class="container-fluid">
						<div >
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> </button>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li> <a href="#/">Home</a> </li>
									<li> <a href="#/reports">Reports</a> </li>
									<li> <a href="#/">Help</a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div >
					<div class="col-md-6 col-md-offset-3 text-center col-lg-offset-2 col-lg-8">
						<h1 class="animated fadeInDown"><a ui-sref="home" href="#/"><img src="images/final_logo.png" alt="FPDS" /></a></h1>
					</div>
				</div>
				<div >
					<div class="col-md-6 col-md-offset-3 text-center col-lg-offset-2 col-lg-8">
						<div class="input-group autocomplete">	
							<input type="hidden" name="search_param" value="all" id="search_param">
							<input type="text" ng-model="query" class="form-control" typeahead="type for type in company($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-on-select='onSelect($item, $model, $label)' name="x" placeholder="Search term..." ng-enter = "search()">
							<span class="input-group-btn">
			      				<button class="btn btn-default" type="button" ng-click = "search()">
			      					<span class="glyphicon glyphicon-search"></span>
			      				</button>
			    			</span>
			    		</div>	
					</div>
				</div>
			</div>
		</section>
	</nav>
</header>

<div class = "dark-bg text-left contact-wrap landing" ng-show = "loading == 0"> 
	<div class="container" >
		<h1>Loading ... </h1>
	</div>
</div>	

<section class="dark-bg text-left section-padding contact-wrap" id="contact" ng-show = "loading == 1">
	<a id="top"></a>
	<div class="container" >
		<hgroup class="mb20">
			<!--<h3 class="pull-right"><a href="#/search/{{ datas.vendorname }}" title="Search Results">Return to Search Page</a></h3>-->
			<h3 class="pull-right"><button type="button" class="btn btn-default inbut" ng-click="back()">Return to Search Page</button></h3><br/>  
			<h1>Transaction Details for {{ searchpara }}</h1>
						
		</hgroup>
		<hr/>
		<br/>
		<div class="col-xs-12 col-sm-6 col-md-12">
      		<article class="search-result col">
        		<div class="light-box box-hover">
          			<h3>Contract Information</h3>
			        <div class="col-xs-12 col-sm-12 col-md-6 ">
			        		<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Award Type: </div><div class="col-md-7 searchList-1">{{ datas.contractactiontype }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Contract Number: </div><div class="col-md-7 searchList-1">{{ datas.piid }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Funding Agency Name: </div><div class="col-md-7 searchList-1">{{ datas.maj_fund_agency_cat | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Contract Office Agency Name: </div><div class="col-md-7 searchList-1">{{ datas.contractingofficeagencyid | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Contract Office Name: </div><div class="col-md-7 searchList-1">{{ datas.contractingofficeid | split: ':' : 1 }}</div></li>
								</ul>
							</div>
			        	
			        </div>

			        <div class="col-xs-12 col-sm-12 col-md-6 ">
			        		<div class="row">
								<ul>
									<li><div class="col-md-7 searchList">Period of Performance City Name: </div><div class="col-md-5 searchList-1">{{ datas.placeofPerformanceCity }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-7 searchList">Period of Performance State Name: </div><div class="col-md-5 searchList-1">{{ datas.pop_state_code | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-7 searchList">Period of Performance Country Name: </div><div class="col-md-5 searchList-1">{{ datas.placeofperformancecountrycode | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-7 searchList">Period of Performance Zipcode: </div><div class="col-md-5 searchList-1">{{ datas.placeofperformancezipcode }}</div></li>
								</ul>
							</div>
							<div class="row">
								
							</div>
			        	
			        </div>          			
	          		
          		<span class="clearfix borda"></span> 
          	</div>
      </article>
      <hr>
      <article class="search-result col">
        <div class="light-box box-hover">
          <div class="col-md-6">
            <h3>Contract Timeline</h3>
            				<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Date Signed: </div><div class="col-md-7 searchList-1">{{ datas.signeddate | date:'MM/dd/yyyy' }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Start Date: </div><div class="col-md-7 searchList-1">{{ datas.effectivedate | date:'MM/dd/yyyy' }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Completion Date: </div><div class="col-md-7 searchList-1">{{ datas.currentcompletiondate | date:'MM/dd/yyyy' }}</div></li>
								</ul>
							</div>
							
							<div class="row">
								<ul>
								 <li>&nbsp;</li>
					            </ul>
							</div>
            
          </div>
          <div class="col-md-6">
            <h3>Vendor Information</h3>
            				<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Vendor Name: </div><div class="col-md-7 searchList-1">{{ datas.vendorname }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">DUNS Number: </div><div class="col-md-7 searchList-1">{{ datas.dunsnumber }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Vendor Address: </div><div class="dataOver col-md-7" data-toggle="tooltip" data-placement="top" title="{{datas.streetaddress}}, {{ datas.streetaddress2 }}, {{ datas.streetaddress3 }}, {{ datas.city }}, {{ datas.state }}, {{ datas.zipcode }}, {{ datas.vendorcountrycode | split: ':' : 0  }}">{{datas.streetaddress}}</div></li>
								</ul>
							</div>
							
							<div class="row">
								<ul>
								 <li><div class="col-md-5 searchList">Organization Type: </div><div class="col-md-7 searchList-1">{{ datas.organizationaltype }}</div></li>
					            </ul>
							</div>
            
          
            
          </div>
          <span class="clearfix borda"></span> 
        </div>
      </article>
      <hr>
      <article class="search-result col">
        <div class="light-box box-hover">
          <h3>Competition Information</h3>
          <div class=" col-md-6">

          					<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Extent Competed Reference IDB: </div><div class="col-md-7 dataOver" data-toggle="tooltip" data-placement="top" title="{{ datas.extentcompeted | split: ':' : 1 }}">{{ datas.extentcompeted | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Solicitation Procedures: </div><div class="col-md-7 dataOver" data-toggle="tooltip" data-placement="top" title="{{ datas.solicitationprocedures }}">{{ datas.solicitationprocedures }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Type of Set Aside: </div><div class="col-md-7 searchList-1">{{ datas.typeofsetaside }}</div></li>
								</ul>
							</div>
							
							<div class="row">
								<ul>
								 <li><div class="col-md-5 searchList">Fair oppurtunity: </div><div class="col-md-7 searchList-1">{{ datas.statutoryexceptiontofairopportunity }}</div></li>
					            </ul>
							</div>           
          
            
          	</div>

            
          
          <div class="col-md-6">
          					<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Local Area Set Aside: </div><div class="col-md-7 searchList-1">{{ datas.localareasetaside }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">FEDBIZOPPS: </div><div class="col-md-7 searchList-1">{{ datas.fedbizopps }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">No of Offers Recieved: </div><div class="col-md-7 searchList-1">{{ datas.numberofoffersreceived }}</div></li>
								</ul>
							</div>
							
							<div class="row">
								<ul>
								 <li><div class="col-md-5 searchList"> </div><div class="col-md-7 searchList-1">&nbsp;</div></li>
					            </ul>
							</div>            
          </div>
          <span class="clearfix borda"></span> 
        </div>
      </article>
			<hr/>
			<article class="search-result col">
				<div class="light-box box-hover">
					<h3>Product or Service Information</h3>
					<div class="col-md-6">
							<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Product Code:</div><div class="col-md-7 dataOver" data-toggle="tooltip" data-placement="top" title="{{ datas.productorservicecode | split: ':' : 1 }}"> {{ datas.productorservicecode | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">NAICS Code:</div><div class="col-md-7 searchList-1"> {{ datas.principalnaicscode }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">System Equipment Code:</div><div class="col-md-7 searchList-1"> {{ (datas.systemequipmentcode != ":" ? datas.claimantprogramcode : "None") }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Country of Product:</div> <div class="col-md-7 searchList-1"> {{ datas.countryoforigin }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Place of Manufacture:</div> <div class="col-md-7 searchList-1"> {{ datas.placeofmanufacture | split: ':' : 1 }}</div></li>
								</ul>
							</div>
						
					</div>
					<div class="col-md-6 ">
						<div class="row">
								<ul>
									<li><div class="col-md-5 searchList">Domestic/Foreign entity:</div> <div class="col-md-7 searchList-1"> {{ datas.manufacturingorganizationtype | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Claimant Program Code:</div> <div class="col-md-7 searchList-1">{{ (datas.claimantprogramcode != ":" ? datas.claimantprogramcode : "None")  }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Use of EPA Designated Product:</div> <div class="col-md-7 searchList-1"> {{ datas.useofepadesignatedproducts | split: ':' : 1 }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>								
									<li><div class="col-md-5 searchList">Description of Requirement:</div> <div class="col-md-7 dataOver" data-toggle="tooltip" data-placement="top" title="{{ datas.descriptionofcontractrequirement }}"> {{ datas.descriptionofcontractrequirement }}</div></li>
								</ul>
							</div>
							<div class="row">
								<ul>
								 <li><div class="col-md-5 searchList"> </div><div class="col-md-7 searchList-1">&nbsp;</div></li>
					            </ul>
							</div>    
						
					</div>
					<span class="clearfix borda"></span>
				</div>
				
			</article>
			<hr/>
			<article class="search-result col">
				<div class="light-box box-hover">
					<h3>Socio Economic Information</h3>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<ul class="meta-search">
							<li ng-show = "datas.firm8aflag == 'Y'"><div class = "searchList-1">SBA Certified 8(a) Program Participant</div></li>
							<li ng-show = "datas.sdbflag == 'Y'"><div class = "searchList-1">Self-Certified Small Disadvantaged Business</div></li>
							<li ng-show = "datas.womenownedflag == 'Y'"><div class = "searchList-1">Women owned business</div></li>
			        		<li ng-show = "datas.srdvobflag == 'Y'"><div class = "searchList-1">Small Disadvantaged veteran owned business</div></li>
			        		<li ng-show = "datas.minorityownedbusinessflag == 'Y'"><div class = "searchList-1">Minority owned business</div></li>
			        		<li ng-show = "datas.iswomenownedsmallbusiness == 'Y'"><div class = "searchList-1">Women owned small business</div></li>
			       	 		<li ng-show = "datas.hubzoneflag == 'Y'"><div class = "searchList-1">SBA Certified HUBZone</div></li>
			        		<li ng-show = "datas.isecondisadvwomenownedsmallbusiness == 'Y'"><div class = "searchList-1">Economic Disadvantaged women owned small business</div></li>
						</ul>
					</div>
					<span class="clearfix borda"></span> </div>
				</div>
				
			</article>
		</div>
	</div>
	<br/>
	<button type="button" class="btn btn-success inbut" ng-click="gototop()" style="width : 145px; margin-left : 45%">Back to Top</button>
</section>

<div>
	
</div>
<footer ng-class="{'' : loading, 'footer' : !loading}">
  <div class="container">
    <div >
      <div class="col-md-6">
        <ul class="legals">
          <li><a href="#"><img src="images/olabs_logo_sm.png" alt="Olabs"></a></li>
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>Copyright &copy; OLabs - Octo Consulting Group 2016. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
