<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        	</button>  
        	<a class="navbar-brand topnav" href="#/"><img src="images/logo.png" alt="FPDS" /></a>
    	</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<ul class="nav navbar-nav navbar-right">
        		<li> <a href="#/reports">Reports</a> </li>
            	<li> <a href="#/help">Help</a> </li>
        	</ul>  
    	</div>
     </div>  
</nav>
 
<div class="container">
	<section class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
		<div class="input-group">
			<input type="hidden" name="search_param" value="all" id="search_param">
			<input type="text" ng-model="query" class="form-control" typeahead="type.field_value for type in company($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-on-select='onSelect($item, $model, $label)' name="x" placeholder="Search term...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click = "search()"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
	</section>
</div>

<div class="container" ng-show = "loading == 0">
	<h1>Loading ... </h1>
</div>

<div class="container" ng-show = "loading == 1">
	<hr/>
	<section class="col-xs-12 col-sm-6 col-md-12">
		<article class="search-result col">
			<h2>Contract Information</h2>
			<div class="col-xs-12 col-sm-12 col-md-4 ">
				<ul class="meta-search">
					<li>Award Type: {{ datas.contractactiontype }}</li>
					<li>Contract Number: {{ datas.piid }}</li>
					<li>Funding Agency Name: {{ datas.maj_fund_agency_cat | split: ':' : 1 }}</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 ">
				<ul>
					<li>Contract Office Agency Name: {{ datas.contractingofficeagencyid | split: ':' : 1 }}</li>
					<li>Contract Office Name: {{ datas.contractingofficeid | split: ':' : 1 }}</li>
					<li>Period of Performance City Name: {{ datas.placeofPerformanceCity }}</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 excerpet">
				<ul>
					<li>Period of Performance State Name: {{ datas.pop_state_code | split: ':' : 1 }}</li>
					<li>Period of Performance Country Name: {{ datas.placeofperformancecountrycode | split: ':' : 1 }}</li>
					<li>Period of Performance Zipcode: {{ datas.placeofperformancezipcode }}</li>
				</ul>
			</div>
			<span class="clearfix borda"></span>	
		</article>
		<hr/>
		<article class="search-result col">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h2>Contract Timeline</h2>
				<ul class="meta-search">
					<li>Contract Date Signed: {{ datas.signeddate | date:'MM/dd/yyyy' }}</li>
					<li>Contract Start Date: {{ datas.effectivedate | date:'MM/dd/yyyy' }}</li>
					<li>Contract Completion Date: {{ datas.currentcompletiondate | date:'MM/dd/yyyy' }}</li>					
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h2>Vendor Information</h2>
				<ul class="meta-search">
					<li>Vendor Name: {{ datas.vendorname }}</li>
					<li>DUNS Number: {{ datas.dunsnumber }}</li>
					<li><b>Vendor Address:</b><div <div style="display: table-cell; vertical-align: left;"><span ng-show = "datas.streetaddress != ''">{{datas.streetaddress}},</span><span ng-show = "datas.streetaddress2.length > 0 "><br/>{{ datas.streetaddress2 }},</span><span ng-show ="datas.streetaddress3.length > 0 "><br/>{{ datas.streetaddress3 }},</span><span ng-show ="datas.city.length > 0 "><br/>{{ datas.city }},</span><span ng-show ="datas.state.length > 0 ">{{ datas.state }},</span><span ng-show ="datas.zipcode.length > 0 "><br/>{{ datas.zipcode }},</span><span ng-show ="datas.vendorcountrycode.length > 0 ">{{ datas.vendorcountrycode | split: ':' : 0  }}</span></div></li>
					<li>Organization Type: {{ datas.organizationaltype }}</li>
				</ul>
			</div>
			<span class="clearfix borda"></span>
		</article>
		<hr/>
		<article class="search-result col">
			<h2>Competition Information</h2>
			<div class="col-xs-12 col-sm-12 col-md-4 ">
				<ul class="meta-search">
					<li>Extent Competed Reference IDB: {{ datas.extentcompeted | split: ':' : 1 }}</li>
					<li>Solicitation Procedures: {{ datas.solicitationprocedures }}</li>
					<li>Type of Set Aside: {{ datas.typeofsetaside }}</li>					
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 ">
				<ul>
					<li>Fair oppurtunity/limited sources: {{ datas.statutoryexceptiontofairopportunity }}</li>
					<li>Local Area Set Aside: {{ datas.localareasetaside }}</li>					
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 excerpet">
				<ul>
					<li>FEDBIZOPPS: {{ datas.fedbizopps }}</li>
					<li>No of Offers Recieved: {{ datas.numberofoffersreceived }}</li>
				</ul>
			</div>
			<span class="clearfix borda"></span>	
		</article>
		<hr/>
		<article class="search-result col">
			<h2>Product or Service Information</h2>
			<div class="col-xs-12 col-sm-12 col-md-4 ">
				<ul class="meta-search">
					<li>Product/Service Code: {{ datas.productorservicecode | split: ':' : 1 }}</li>
					<li><b>NAICS Code:</b> {{ datas.principalnaicscode }}</li>
					<li>System Equipment Code: {{ (datas.systemequipmentcode != ":" ? datas.claimantprogramcode : "") }}</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 ">
				<ul>
					<li>Country of Product/Service Origin: <label>{{ datas.countryoforigin }}</label></li>
					<li>Place of Manufacture: <label>{{ datas.placeofmanufacture | split: ':' : 1 }}</label></li>
					<li>Domestic/Foreign entity: <label>{{ datas.manufacturingorganizationtype | split: ':' : 1 }}</label></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 excerpet">
				<ul>
					<li>Claimant Program Code: <label>{{ (datas.claimantprogramcode != ":" ? datas.claimantprogramcode : "")  }}</label></li>
					<li>Use of EPA Designated Product: <label>{{ datas.useofepadesignatedproducts | split: ':' : 1 }}</label></li>
					<li>Description of Requirement: <label>{{ datas.descriptionofcontractrequirement }}</label></li>
				</ul>
			</div>
			<span class="clearfix borda"></span>		
		</article>
		<hr/>
		<article class="search-result col">
			<h2>Socio Economic Information</h2>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<ul class="meta-search">
					<li ng-show = "datas.firm8aflag == 'Y'">SBA Certified 8(a) Program Participant</li>
					<li ng-show = "datas.sdbflag == 'Y'">Self-Certified Small Disadvantaged Business</li>
					<li ng-show = "datas.womenownedflag == 'Y'">Women owned business</li>
			        <li ng-show = "datas.srdvobflag == 'Y'">Small Disadvantaged veteran owned business</li>
			        <li ng-show = "datas.minorityownedbusinessflag == 'Y'">Minority owned business</li>
			        <li ng-show = "datas.iswomenownedsmallbusiness == 'Y'">Women owned small business</li>
			        <li ng-show = "datas.hubzoneflag == 'Y'">SBA Certified HUBZone</li>
			        <li ng-show = "datas.isecondisadvwomenownedsmallbusiness == 'Y'">Economic Disadvantaged women owned small business</li>
				</ul>
			</div>
		</article>
	</section>
</div>
<br/>
